<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-lg-12">
                <h3>Basic Patient Info</h3>
                <form>
                    <div class="form-group">
                        <label for="doctorName">Doctor's Name</label>
                        <input type="string" class="form-control" id="doctorName" [(ngModel)]="patient.doctorName" (ngModelChange)="patient.doctorName = $event" name="doctorName" {{disable}}>
                    </div>
                    <div class="form-group">
                        <label for="inPatient">In/Out Patient</label>
                        <input type="checkbox" class="form-control" id="inPatient" [(ngModel)]="patient.inPatient" (ngModelChange)="patient.inPatient = $event" name="inPatient" required>
                    </div>
                    <div class="form-group">
                        <label for="diagnosisDate">Date of Diagnosis</label>
                        <input type="date" class="form-control" id="diagnosisDate"[(ngModel)]="patient.diagnosisDate" (ngModelChange)="patient.diagnosisDate = $event" name="diagnosisDate" required>
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="number" class="form-control" id="weight" [(ngModel)]="patient.weight" (ngModelChange)="patient.weight = $event" name="weight" required>
                    </div>
                    <div class="form-group">
                        <label for="height">Height</label>
                        <input type="number" class="form-control" id="height" [(ngModel)]="patient.height" (ngModelChange)="patient.height = $event" name="height" required>
                    </div>
                    <div class="form-group">
                        <label for="race">Race</label>
                        <select class="form-control" id="race" [(ngModel)]="patient.race" (ngModelChange)="patient.race = $event" name="race" required>
                            <option *ngFor="let race of races" [value]="race">{{race}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inclusionDate">Inclusion Date</label>
                        <input type="date" class="form-control" id="inclusionDate"[(ngModel)]="patient.inclusionDate" (ngModelChange)="patient.inclusionDate = $event" name="inclusionDate" required>
                    </div>
                    <div class="form-group">
                        <label for="general">General Comments</label>
                        <textarea class="form-control" id="general" [(ngModel)]="patient.general" (ngModelChange)="patient.general = $event" name="general" ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-primary" (click)='addDiagnosis()'>Add Diagnosis</button>
                </form>
            </div>
        </div>
    </div>
</div>