<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packages>
    <package id="Microsoft.AspNet.Identity.Core" version="1.0.0" targetFramework="net452" />
    <package id="mongocsharpdriver" version="1.8.3" targetFramework="net452" />
    <package id="MongoDB.AspNet.Identity" version="1.0.5" targetFramework="net452" />
  </packages>
  <connectionStrings>
    <add name="Mongo" connectionString="mongodb://localhost:27017/MRPDB" />
  </connectionStrings>
</configuration>