<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class="navbar-brand" *ngIf='burgerButton' (click)="start.open()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/login']">{{loginTitle}}</a></li>
            </ul>
        </div>
    </nav>
    <md-sidenav-container>
        <md-sidenav #start mode='push' (open)="sidenavlist.focus()">
            <ul class='list-group' #sidenavlist>
                <li class="list-group-item"><a [routerLink]="['/research']" (click)='start.close()'>Research</a></li>
                <li class="list-group-item"><a [routerLink]="['/personalInfo']">Edit Personal Info</a></li>
                <li class="list-group-item"><a [routerLink]="['/patientInfo/0']">Add New Patient</a></li>
                <li class="list-group-item"><a [routerLink]="['/userManagment']">User Managment</a></li>
            </ul>
        </md-sidenav>
        <div class='container my-content'>
            <router-outlet [loggedInUser]='loggedInUser'></router-outlet>
        </div>
    </md-sidenav-container>
</div>