<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class="navbar-header">
                <a class="navbar-brand" *ngIf='loggedIn' (click)="start.open()">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </a>
                <a class="navbar-brand logo" href=""><img src="app/assets/research_logo.png" alt="Medical Research Project"></a>
            </div>
            <div id="navbar1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li *ngIf='loggedIn'><a>{{loginTitle}}</a></li>
                    <li *ngIf='loggedIn'><a (click)='logout()'>logout?</a></li>
                </ul>
            </div>
            
            <!--<a class='navbar-brand'>{{pageTitle}}</a>-->
        </div>
    </nav>
    <md-sidenav-container>
        <md-sidenav #start mode='push' (open)="sidenavlist.focus()">
            <ul class='list-group' #sidenavlist>
                <li class="list-group-item"><a [routerLink]="['/research']" (click)='start.close()'>Research</a></li>
                <li class="list-group-item"><a [routerLink]="['/personalInfo']" (click)='start.close()'>Edit Personal Info</a></li>
                <li class="list-group-item"><a [routerLink]="['/patientInfo/0']" (click)='start.close()'>Add New Patient</a></li>
                <li class="list-group-item"><a [routerLink]="['/findPatient']" (click)='start.close()'>Find Patients</a></li>
                <li class="list-group-item"><a [routerLink]="['/userManagment']" (click)='start.close()'>User Managment</a></li>
            </ul>
        </md-sidenav>
    </md-sidenav-container>
    <div class='container my-content'>
        <router-outlet></router-outlet>
    </div>
    <footer class="footer">
        <div class='container'>
            <ul class="nav navbar-nav ">
                <li><a class="navbar-brand logo"><img src="app/assets/sela_logo.jpg" alt="Medical Research Project"></a></li>
                <li><a class="navbar-brand logo"><img src="app/assets/shiba_logo.jpg" alt="Medical Research Project"></a></li>
            </ul>
        </div>
    </footer>
</div>